

  .resource {
    background-color: #aed9f9;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items:normal;
  }
  .resource-details{
    display: flex;
    flex-direction: column;
  }
  
  
  .resource-details2 h4 {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #000000; /* Set the desired color for the title */
    pointer-events: none;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .resource-description2 {
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #000000; /* Set the desired color for the description */
    pointer-events: none;
  }
  
  .resource-rating2 {
    color: #ff9800;
    font-size: 14px;
    text-decoration: none;
    pointer-events: none;
    font-family: 'Times New Roman', Times, serif;
  }

  

  