.resource-container {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.resource-image img {
  width: 300px;
  border: 2px solid #55c360;
  border-radius: 4px;
  margin-right: 1rem;
}

.resource-details {
  flex: 1;
}

.resource-details h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}

.resource-details p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.average-rating {
  color: #ff9800;
  font-size: 25px;
  margin-bottom: 4rem;
}

.content-container {
  display: flex;
}

.ratings {
  margin-right: 2rem;
}

.rating-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: auto;
}

.user-comment {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 1rem;
}

.user-rating {
  color: #ff9800;
  font-size: 18px;
  margin-top: 0.5rem;
}

.opinion-container {
  border: 2px solid #55c360;
  border-radius: 4px;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 650px; /* Adjust the width as needed */
  align-self: flex-start;
  margin-left: auto;
}

.opinion-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  width: 100%; /* Adjust the width as needed */
}

.opinion-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

