.myreview{
    display: flex;
    justify-content: center;
    gap:5px;
    width: 100%;
    margin-bottom: 1rem;

}
.myreview-container{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.myreview-review{
    width:90%;
    background-color: #aed9f9;
    border-radius: 4px;
    min-height: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.myreview-book a{
    text-decoration: none;
}
.myreview-rating{
    color: #ff9800;
    font-size: 18px;
    margin-top: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
