.resource-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  width:100%;
  gap: 5px;
}
.resource-container .left{
  width: 20%;
  border: 1px solid #55c360;
  border-radius: 4px;
}
.resource-container .middle {
  width:50%;
  border: 1px solid #55c360;
  border-radius: 5px;
  min-height: 50vh;
}
.resource-container .left img {
  width: 100%;
  border-radius: 4px;
}
.resource-container .right{
  width:20%;
  border: 1px solid #55c360;
  min-height: 50vh;
  border-radius: 4px;
}

.resource-container .middle h2 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.resource-container .middle p {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}


.resource-container .right p{
  color: #ff9800;
  font-size: 25px;
  margin-bottom: 4rem;
  font-family: 'Times New Roman', Times, serif;
}

.content-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}

.content-container .left {
  margin-left: 2rem;
  width:40%;
}
.content-container .right{
  width:60%;
  min-height: 50vh;
  margin-left: 2rem;

}
.rating-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: auto;
}

.user-comment {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 1rem;
}

.user-rating {
  color: #ff9800;
  font-size: 18px;
  margin-top: 0.5rem;
}
.opinion-container {
  border: 2px solid #55c360;
  border-radius: 4px;
  width: 70%;
  justify-content: center;
}

.opinion-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  width: 100%; /* Adjust the width as needed */
}

.opinion-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.heart{
  cursor: pointer;
  transition:color 200ms;
}
