.stylenone{
  text-decoration: none;
  color: inherit;
}
.mainhead1{
  color: #55c360;
  font-size: 30px;
  font-weight: 300;
  font-family:cursive;
  padding: 5px 10px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
